@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

$font_primary: "WorkSans";

@font-face {
  font-family: "Rufina";
  src: url("../fonts/Rufina-Regular.ttf");
}

$font_secondary: "Rufina";
