.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  //position: relative;
  grid-area: main;

  .text_white {
    color: $bg_secondary;

    h2 {
      margin: 20px 20px 10px 20px;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 35px 20px 30px 20px;
    margin-bottom: 35px;
    z-index: 2;
    background: $bg_primary;

    h2 {
      //font-weight: 300;
      font-weight: 600;
      margin-top: 20px;
    }

    p {
      margin-top: 10px;
      text-align: justify;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      margin: 15px 0;
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;

        p {
          width: calc(100% - 34px);
        }

        svg {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }

  /*
  utils
  */
  .m15 {
    margin: 15px;
  }

  .m-tb15 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .pb50 {
    padding-bottom: 50px;
  }

  .border_bottom {
    border-radius: 0 0 20px 20px;
  }

  .border_top {
    border-radius: 20px 20px 0 0;
  }

  .top-110 {
    top: 110px;
  }

  /*
  BackGround section
  */
  .white {
    background: $bg_secondary !important;

    .section--container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .red {
    background: $bg_secondary;
    box-shadow: none;

    .section--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $bg_red;
      position: relative;
      top: 0;
      left: 0;
      width: calc(100% + 34px);
      border-radius: 20px;

      div,
      h2,
      h3,
      p,
      ul,
      li,
      svg {
        background: transparent;
      }

      ul {
        position: relative;
      }

      li {
        display: grid;
        grid-template-columns: 26px calc(100% - 26px);
      }
    }
  }

  .blue {
    background: $bg_secondary;
    box-shadow: none;

    .section--container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $bg_blue;
      position: relative;
      top: 0;
      left: 0;
      width: calc(100% + 34px);
      border-radius: 20px;

      div,
      h2,
      h3,
      p,
      ul,
      li,
      svg {
        background: transparent;
      }

      ul {
        position: relative;
      }

      li {
        display: grid;
        grid-template-columns: 26px calc(100% - 26px);
      }
    }
  }

  /*
  Collage
  */
  .Collage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h2 {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
      width: 100%;
      max-width: 385px;
    }

    &--efect {
      color: #151412;
      font-weight: 900;
      font-size: 20px;
      text-align: center;
      display: inline-block;

      background: linear-gradient(
        to right,
        #e29e16 5%,
        #151412 25%,
        #e29e16 45%,
        #151412 65%,
        #e29e16 85%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: header_animation__header 4s linear infinite;
    }

    &--container {
      width: 100%;
      height: calc(100vw * 1.17);
      max-width: 560px;
      max-height: 653px;
      position: relative;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
