.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 65px 20px 35px 20px;
    z-index: 2;

    &::before {
      content: "";
      width: 100%;
      height: 85px;
      background: linear-gradient(180deg, #ffffff 29%, #f4f4f4);
      position: absolute;
      top: 0;
      z-index: -1;
      border-radius: 20px 20px 0 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 35px;
      background: $bg_primary;
      position: absolute;
      left: 0;
      top: 50px;
      z-index: -1;
      border-radius: 20px 20px 0 0;
    }

    h2 {
      font-weight: 300;
    }

    p {
      text-align: justify;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      margin: 15px 0 0 20px;
      list-style: none;

      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 15px;

        p {
          width: calc(100% - 34px);
        }

        svg {
          width: 24px;
          height: 24px;
          margin-right: 10px;
        }
      }
    }
  }

  .red {
    background: $bg_primary;

    &::before {
      content: "";
      width: 100%;
      height: 85px;
      background: linear-gradient(180deg, #ffffff 29%, #f4f4f4);
      position: absolute;
      top: 0;
      z-index: -1;
      border-radius: 20px 20px 0 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 35px;
      background: $bg_primary;
      position: absolute;
      left: 0;
      top: 50px;
      z-index: -1;
      border-radius: 20px 20px 0 0;
    }

    .section--container {
      background: $bg_red;
      position: relative;
      top: 0;
      left: 0;
      width: calc(100% + 34px);
      border-radius: 20px;

      div,
      h2,
      h3,
      p,
      ul,
      li,
      svg {
        background: transparent;
      }

      ul {
        position: relative;
        left: -20px;
      }

      li {
        display: grid;
        grid-template-columns: 26px calc(100% - 26px);
      }
    }
  }

  .blue {
    background: $bg_primary;

    &::before {
      content: "";
      width: 100%;
      height: 85px;
      background: linear-gradient(180deg, #ffffff 29%, #f4f4f4);
      position: absolute;
      top: 0;
      z-index: -1;
      border-radius: 20px 20px 0 0;
    }

    &::after {
      content: "";
      width: 100%;
      height: 35px;
      background: $bg_primary;
      position: absolute;
      left: 0;
      top: 50px;
      z-index: -1;
      border-radius: 20px 20px 0 0;
    }

    .section--container {
      background: $bg_blue;
      position: relative;
      top: 0;
      left: 0;
      width: calc(100% + 34px);
      border-radius: 20px;

      div,
      h2,
      h3,
      p,
      ul,
      li,
      svg {
        background: transparent;
      }

      ul {
        position: relative;
        left: -20px;
      }

      li {
        display: grid;
        grid-template-columns: 26px calc(100% - 26px);
      }
    }
  }
}
