@import "./sass/color";
@import "./sass/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //background: $bg_primary;
  font-family: $font_primary;
}

body {
  background: $bg_secondary;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "./components/header/header";
@import "./components/main/main";
@import "./components/card/card";

.button {
  display: inline-block;
  border: none;
  color: $bg_secondary;
  text-decoration: none;
  background-color: $bg_green;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  border-radius: 20px;
  text-align: center;
  position: relative;
  outline: none;
  transition: background-color 0.1s ease;
  cursor: pointer;
  box-shadow: 4px 4px 10px 0px $bg_black;

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 5px 0px $bg_black;
  }
}
