@import "./sass/color";
@import "./sass/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $bg_primary;
  font-family: $font_primary;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import "./components/header/header";
@import "./components/main/main";
